# Default ignore all
*

# Whitelist
!.gitignore
!dotfiles
!dotfiles/**
!git
!git/**
!iterm2
!iterm2/**
!misc
!misc/**
!scripts
!scripts/**
!vim
!vim/**
!README.md
!bootstrap
!minboot
!nvim
!packages

# ignore specific junk
vim/plugged
vim/autoload/plug.vim.old
vim/.netrwhist
