# Whitelist
!.gitignore
!dotfiles
!git
!iterm2
!misc
!nyaovim
!scripts/
!vim
!README.md
!bootstrap
!minboot
!nvim
!packages

# ignore specific junk
vim/plugged
vim/autoload/plug.vim.old

# Default ignore all
*
