# Default ignore all
*

# Whitelist
!.gitignore
!dotfiles
!dotfiles/**
!git
!git/**
!iterm2
!iterm2/**
!misc
!misc/**
!scripts
!scripts/**
!vim
!vim/**
!nvim
!nvim/**
!README.md
!bootstrap
!minboot
!packages

# ignore specific junk
nvim/plugged
nvim/autoload/plug.vim.old
nvim/.netrwhist
